body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(15, 163, 212);
}

.site-title {
    color: blue;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

.hobbies {
    list-style-type: square;
}

.hobbies li:nth-child(odd) {
    background-color: rgb(76, 75, 75);
}

nav ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    background-color: lightblue;
    border: 1px solid black;
}

a:hover,
a:focus {
    background-color: darkblue;
    color: white;
}